.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 600px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper > input {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-size: 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input-wrapper > button {
  padding: 0.5rem 1rem !important;
  background-color: #fff;
  border-radius: 0%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.lists {
  display: flex;
  justify-content: space-between !important;
  background-color: aliceblue;
  padding: 0.5rem 2rem;
  width: 550px;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.lists > p {
  font-size: 2rem !important;
}

.btn-container > button {
  font-size: 16px !important;
  border-radius: 0 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.clear-list {
  color: tomato !important;
  text-transform: uppercase;
  font-size: 1rem !important;
}
